@{
    ViewData["Title"] = "Inicio";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">NathannJShop</h1>
            <p>Bienvenidos a mi página, aquí encontraras productos de gran calidad</p>
            <p><a class="btn btn-success btn-lg" href="https://nathannjshop.azurewebsites.net/swagger/index.html" role="button">Mostrar API </a></p>
            <br />
            <br />

        </div>
    </div>
</body>
</html>